
@{
    ViewBag.Title = "Eroare";
}

<h1>Eroare! :(</h1>
<h2 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> A apărut o eroare in timpul navigării.</h2>
<img src="~/Images/DecorationImages/warning-icon-danger.png" alt="500 Eroare interna" />

