 @{
   ViewBag.Title = "404 - Pagină inexistentă";
 }
<h1>Pagină inexistentă! :(</h1>
<h2 class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> Ne pare rău, dar pagina căutată nu există. Apasă <a href="@Url.Action("Index","Home")" style="text-decoration: underline">aici</a> pentru întreaga listă de anunțuri.</h2>
<img src="~/Images/DecorationImages/warning-icon.png" alt="404 pagina inexistenta" />
