<script>
  //Probably for touch we need this
  $('.searchBox').click(function () {
    $(this).select();
  });

  $(document).mousedown(function (e) {
    var container7 = $(".localitatiSearchResult");
    if (!container7.is(e.target) // if the target of the click isn't the container...
      && container7.has(e.target).length === 0) // ... nor a descendant of the container
    {
      if (container7.css('display') != 'none') {
        container7.hide();
      }
    }
  });

  var typingTimer;
  var doneTypingInterval = 300;
  var pressedKey;

  //user is "finished typing," do something
  function doneTyping() {

    //On backspace check if value is less than 2 characters, postback only in case
    if (pressedKey == '8') {
      if ($(".searchBox").val().length < 2) {
        $(".localitatiSearchResult").html("");
        $(".localitatiSearchResult").hide();
        return;
      }
    }

    //alert(String.fromCharCode(e.which) + "code: " + e.which);
    if ($(".searchBox").val().length > 0) {
      var searchValue = $(".searchBox").val();

      //In caz de backspace
      if (pressedKey == '8') {
        searchValue = $(".searchBox").val();
      }

      $.ajax({
        url: '@Url.Action("LocationSearchResults", "Home")',
        dataType: 'json',
        async: false,
        data: { searchText: searchValue, includingTotJudet: false },
        success: function (orase) {
          $(".localitatiSearchResult").html("");
          $(".localitatiSearchResult").show();
          if (orase.length > 0) {
            for (var index = 0; index < orase.length; ++index) {
              var splitString = orase[index].split('|');
              var oras = splitString[1];

              //(totJudetul)
              if (splitString[2]) {
                oras += " | " + splitString[2];
              }

              var orasId = splitString[0];

              $(".localitatiSearchResult").append('<li style="cursor:pointer" data-orasid = "' + orasId + '" data-val = "' + oras + '"><span style="padding: 8px 0 9px 0; cursor:pointer" class="glyphicon glyphicon-map-marker"></span>  ' + oras + '</li>');
            }
            $(".localitatiSearchResult").show();

            $(".localitatiSearchResult li").on("click", function () {
              $(".localitatiSearchResult").hide();
              $(".searchBox").val($(this).data("val"));
              $("#OrasSelect").val($(this).data("orasid"));
              updateCartiere($(this).data("orasid"));
                $(".searchBox").prop('disabled', true);
              $(".schimbaLocalitateButton").show();
            });
          } else {
            $(".localitatiSearchResult").hide();
          }
        }
      });
    }
  }

  function updateCartiere(orasid) {
    if (orasid != null && orasid != '') {
      $.getJSON('@Url.Action("Cartiere", "Home")', { orasId: orasid }, function (cartiere) {
        var cartierSelect = $('#CartierSelect');
        cartierSelect.empty();
          if (cartiere.length !== 0) {
              cartierSelect.append($('<option/>', {
                  value: 0,
                  text: 'Nespecificat'
              }));
          $.each(cartiere, function (index, cartier) {
            cartierSelect.append($('<option/>', {
              value: cartier.Id,
              text: cartier.Nume
            }));
          });
          $('#cartierSelectDiv').fadeOut('fast');
          $('#cartierSelectDiv').fadeIn('slow');
          $('#cartierSelectDiv').fadeIn('slow');
        } else {
          $('#cartierSelectDiv').hide();
        }
        //$.cookie('SelectedOras', selectedOras, { expires: 7 });
      });
    }
  }

  $(".schimbaLocalitateButton").on("click", function () {
    $(".searchBox").val("");
    //This differs from _SearchBoxPartialScript because there it is set to null somehow, 0 needed for validation
    $("#OrasSelect").attr("value","0");
    $(".searchBox").prop('disabled', false);
    $(".schimbaLocalitateButton").hide();
    $('#CartierSelect').empty();
    $('#cartierSelectDiv').hide();
  });

  //keydown to work on touchscreen devices
  $(".searchBox").keydown(function (e) {
    pressedKey = e.which;
    var selected = $(".localitatiSearchResult").find("li.selected");
    //Check for updown arrows
    if (pressedKey == "38") {
      e.preventDefault();
      //alert($(".localitatiSearchResult").find("li").length);
      if (selected.length) {
        //alert("is");
        $(".localitatiSearchResult").find("li").removeClass("selected");
        selected.prev("li").addClass("selected");
      } else {
        $(".localitatiSearchResult").find("li").first().addClass("selected");
      }
    } else if (pressedKey == "40") {
      e.preventDefault();
      if (selected.length) {
        //alert("is");
        $(".localitatiSearchResult").find("li").removeClass("selected");
        selected.next("li").addClass("selected");
      } else {
        $(".localitatiSearchResult").find("li").first().addClass("selected");
      }
    } else if (pressedKey == "13") {
      e.preventDefault();
      $(".localitatiSearchResult").hide();
      if (selected.length) {
        selected.click();
      }
    } else {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    }
  });

  function inputFocus(i) {
    if (i.value == i.defaultValue) {
      i.value = "";
      i.style.color = "#000";
    } else {
      i.style.color = "#000";
      i.select();
    }
  }

  function inputBlur(i) {
    if (i.value == "") {
      i.value = i.defaultValue;
      i.style.color = "#c3c3c3";
    } else {
      i.style.color = "#c3c3c3";
    }
  }
</script>
