@{
    ViewBag.Title = "Recupereaza Parola Login";
    Layout = "_LayoutB5";
}

<div class="container">
    <h2 class="my-2">Recuperare Parolă</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>Vă rugăm introduceți adresa de email unde veți primi un mesaj pentru recuperarea parolei:</p>

        <input class="form-control" name="emailToSend" type="text" title="Introduceti o adresa de email valida, fara spatii" />

        <input class="btn btn-primary mt-2" type="submit" value="Trimite email confirmare" id="submitButton" />

        <img id="loadingGif" src="~/Images/preloader.gif" style="height: 35px; vertical-align: bottom; padding-bottom: 5px; display: none" />
    }
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            //disable button once clicked
            $('#submitButton').on("click", function () {
                $('#submitButton').hide();
                $('#loadingGif').show();
            });

        });
    </script>
}
