@{
    ViewBag.Title = "Resetare parola";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Parola a fost resetata. Va rugam @Html.ActionLink("apasati aici pentru a va loga.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
