
@{
    ViewBag.Title = "ApartamentDetaliiB5";
    Layout = "~/Views/Shared/_LayoutBootstrap5.cshtml";
}


<div class="container">
    <div class="row">

        <div id="body" style="height: auto !important;">

            <section class="main-content container">





                <style type="text/css">
                    .checkboxBool {
                        width: 20px;
                        height: 15px;
                    }

                    .panel-heading {
                        font-weight: bolder;
                    }
                </style>

                <a class="btn btn-light" onclick="history.go(-1); return false;" href="#" style="margin: 5px 0 10px 0"><i class="bi bi-arrow-left-circle-fill"></i>Înapoi</a>


                <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
                <script src="https://partner.googleadservices.com/gampad/cookie.js?domain=localhost&amp;callback=_gfp_s_&amp;client=ca-pub-1474334984782094&amp;cookie=ID%3Def558a15db4d279e-228f1e401acd008d%3AT%3D1641896676%3ART%3D1641896676%3AS%3DALNI_MbI1PIqkUGArc9NHOmZdDvipecDlA"></script>
                <script src="https://connect.facebook.net/en_US/sdk.js?hash=f1c89003c0fbc9cba9fb6d4be932f36b" async="" crossorigin="anonymous"></script>
                <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/dPctOHA2ifhWm5WzFM_B5TjT/recaptcha__ro.js" crossorigin="anonymous" integrity="sha384-d/XPgJdfPp1AnoKz4TFgIuqv01xlXwCT9qAsaa1PyUvZoWu/Af8hRbaYLo7wYp//"></script>
                <script async="" src="//www.google-analytics.com/analytics.js"></script>
                <script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202201200501/show_ads_impl_with_ama_fy2019.js?client=ca-pub-1474334984782094&amp;plah=localhost%3A49265" id="google_shimpl"></script>
                <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.6&amp;appId=273830189442081"></script>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=273830189442081";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
            </section>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="row panel-success">
            <div class="col-xs-12 col-sm-6 col-md-4 img-thumbnail">
                <a class="fancybox fancybox-thumbs anchor-link-spanner" href="/Images/uploadedPhotos/Arad_Vanzare_Apartament_2_camere_33392435-a95f-405c-9100-70e2cf161cb4.jpg" data-fancybox-group="gallery" title="Apartament/Salon de înfrumusețare Ared UTA">
                    <img class="card-img-top center-cropped" style="height: 200px" src="/Images/uploadedPhotos/Arad_Vanzare_Apartament_2_camere_33392435-a95f-405c-9100-70e2cf161cb4.jpg" alt="ApartamentSalon de infrumusetare Ared UTA">
                </a>
                <div class="col-sm-6 col-sm-6">

                    <div class="row">
                        <div class="col-4">
                            <p>
                                <i class="bi bi-camera"></i>

                                <a href="toatepozele.html" class="text-capitalize my-3">Toate pozele</a>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                                <i class="bi bi-camera-video"></i>
                                <a href="video.html" class="text-capitalize my-3">Video</a>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                                <i class="bi bi-bar-chart-line-fill"></i>
                                <a href="Schita.html" class="text-capitalize my-3">Schita</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-md-6">

                <div class=" mb-3 text-decoration-underline">Contact</div>
                <p> Tip Vânzator: Persoană Fizică</p>
                <p>
                    <a type="button" href="arataNumarul.html" class="btn btn-success "><i class="bi bi-phone"></i>Arata numarul</a>
                </p>
                <div>
                    <p>
                        <i class="bi bi-exclamation-circle-fill"> Raportează Anunț Invalid</i>
                    </p>
                </div>
                <div>
                    <p>
                        <i class="bi bi-envelope"> Email contact nespecificat</i>
                    </p>
                </div>
                <div>
                    <a type="button" href="salveazaAnunt.html" class="btn btn-success"><i class="bi bi-heart"></i>Salveaza</a>
                </div>
            </div>
        </div>

    </div>
</div>
<br />

<div class="container">
    
    <div class="row">
        <div class="row panel panel-success">
            <hr class="visible-xs">
            <div class="col-sm-12 col-md-12" vertical-align: central;">
                <h3>Apartament/Salon de înfrumusețare Ared UTA</h3>
                <p>Arad, Arad</p>
                <div class="row">
                    <div class="col">
                        <p>77000<i class="bi bi-currency-euro"></i></p>

                    </div>
                    <div class="col">

                        <p><i class="bi bi-badge-wc"></i>1 Baie</p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="bi bi-building"></i>Suprafata 97m2
                        </p>

                    </div>

                    <div class="col-7">

                    </div>
                </div>

                <div>
                    <i class="bi bi-pin-map-fill"></i>

                    <a href="Vezilocatiapeharta.html" class="text-capitalize my-3">Vezi locatia pe harta</a>
                </div>
                <p>
                    <div class="fb-share-button fb_iframe_widget" data-layout="button_count" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=273830189442081&amp;container_width=541&amp;href=http%3A%2F%2Flocalhost%3A49265%2FLocalitate-Arad%2FVanzare-Apartament%2FApartamentSalon-de-infrumusetare-Ared-UTA%2F27780&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 77px; height: 20px;"><iframe name="fe8a666b4f6b68" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/share_button.php?app_id=273830189442081&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3eeace929d451%26domain%3Dlocalhost%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Flocalhost%253A49265%252Ff31d16c1fa879e%26relation%3Dparent.parent&amp;container_width=541&amp;href=http%3A%2F%2Flocalhost%3A49265%2FLocalitate-Arad%2FVanzare-Apartament%2FApartamentSalon-de-infrumusetare-Ared-UTA%2F27780&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 77px; height: 20px;" class=""></iframe></span></div>
                </p>
            </div>
        </div>

    </div>

</div>

<div class="container">
    
    <div class="row">
        <div class="col-sm-6 col-md-push-3 col-md-3" style="vertical-align:top">

            <div class="descriereApartament" style="margin-bottom: 10px">
                <p style="display: none" class="imobilIdClass">27780</p>

            </div>
        </div>



        <div class="row panel panel-success">
            <hr class="visible-xs">
            <div class="panel-heading text-decoration-underline">Detalii</div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3> Vânzare Apartament Id:27780</h3>

                    <p style="width: 100%; margin-top: 10px">

                        Vand apartament cu 2 camere,foarte spatios(se poate modifica in 3 camere) amenajat ca salon de înfrumusețare,97mp,in bloc nou, decomandat,cu vedere în 2 părți,terasa mare. Apartamentul a fost închiriat multa vreme pentru un salon de înfrumusețare(2 posturi cosmetica,2 posturi coafura,1 post manichiura/pedichiura),Apartamentul se poate amenaja după propriile necesități și după propriul gust. Disponibilitate proprietate: imediat

                    </p>
                </div>
                <div class="col-sm-6">
                    <table class="table table stiped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>Preț:</td>
                                <td><strong>77.000 €</strong></td>
                            </tr>
                            <tr>
                                <td>Suprafață:</td>
                                <td>97 mp</td>
                            </tr>

                            <tr>
                                <td>Număr camere:</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Etaj:</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Număr Balcoane:</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Număr băi:</td>
                                <td>-</td>
                            </tr>

                            <tr>
                                <td>Vechime Imobil:</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Data adăugării:</td>
                                <td>23.12.2021</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6 col-md-push-2">







                </div>

            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="row panel panel-success">
            <hr class="visible-xs">
            <div class="panel-heading mb-3 text-decoration-underline">Localizare</div>
            <div class="panel-body">
                <div>
                    <p>  <i class="bi bi-pin-map-fill"></i>Locație Indisponibilă pe Hartă</p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
        <div class="row">

            <div class="panel-heading mb-3 text-decoration-underline">Anunțuri similare</div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="card rounded mb-4 shadow-sm">
                    <a href="/Localitate-Arad/Vanzare-Apartament/Vand-apartament-4-camere-Aurel-Vlaicu-Kaufland/27340">

                        <img class="card-img-top center-cropped" src="/Images/uploadedPhotos/Arad_Vanzare_Garsoniera_4_camere_bae03283-a893-41ef-b47d-a748017183e3.jpg" alt="Vand apartament 4 camere Aurel Vlaicu Kaufland">
                        <div class="card-body" style="height:150px">

                            <h5 class="card-title">Arad, Arad, Vânzare Apartament</h5>

                            <p class="card-title">68.500€</p>
                            <p class="card-text">120 m²</p>
                        </div>

                    </a>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card rounded mb-4 shadow-sm">
                    <a href="/Localitate-Arad/Vanzare-Apartament/Ap-2-cam-Micalaca-Borsec/27676">

                        <img class="card-img-top center-cropped" src="/Images/uploadedPhotos/imobiliare_apartament.jpg" alt="Ap 2 cam Micalaca Borsec">
                        <div class="card-body" style="height:150px">
                            <h5 class="card-title">Arad, Arad, Vânzare Apartament</h5>

                            <p class="card-title">68.500€</p>
                            <p class="card-text">7 m² 2 camere</p>
                        </div>


                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card rounded mb-4 shadow-sm">
                    <a href="/Localitate-Arad/Vanzare-Apartament/Apartament-Nou-Premium-zona-UTA/27463">

                        <img class="card-img-top center-cropped" src="/Images/uploadedPhotos/imobiliare_apartament.jpg" alt="Apartament Nou-Premium zona UTA">
                        <div class="card-body" style="height:150px">
                            <h5 class="card-title">Arad, Arad, Vânzare Apartament</h5>

                            <p class="card-title">68.500€</p>
                            <p class="card-text">118 m² 4 camere</p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>





<div class="row" style="background-color: #F9F9F9; text-align: center; padding: 10px; margin-top: 5px">
    <a data-toggle="modal" data-target="#modalAdaugaAnuntLogin" class="btn btn-light"><span class="glyphicon glyphicon-plus red"></span>Adaugă Anunț Gratuit</a>
</div>

<!-- Modal Raporteaza anunt invalid-->
<div class="modal fade" id="modalRaporteazaAnuntInvalid" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Raportează anunț invalid</h4>
            </div>
            <div class="modal-body">
                <form action="/Home/TrimiteMesajAbuzAnunt" data-ajax="true" data-ajax-begin="showContactFormProgressAbuz" data-ajax-mode="replace" data-ajax-success="hideContactFormProgressAbuz" data-ajax-update="#resultMesajAbuz" id="form0" method="post">
                    <div>
                        <input type="radio" name="SelectAbuzRadioButtons" value="Anuntul nu mai este valid" style="width: 30px" checked="checked">
                        <p style="display: inline-block">Anunțul nu mai este valid</p>
                        <br>
                        <input type="radio" name="SelectAbuzRadioButtons" value="Date de contact invalide" style="width: 30px">
                        <p style="display: inline-block">Date de contact invalide</p>
                        <br>
                        <input type="radio" name="SelectAbuzRadioButtons" value="Datele anuntului nu corespund" style="width: 30px">
                        <p style="display: inline-block">Datele anunțului nu corespund</p>
                        <br>

                        <p style="display: inline-block; padding: 0 19px 0 0">Email:</p>
                        <input type="text" value="Emailul tau" id="EmailContactAbuz" name="EmailContact">
                        <input type="hidden" value="27780" name="IdAnuntVanzator">
                        <input type="hidden" value="Apartament/Salon de înfrumusețare Ared UTA" name="TitluAnunt">
                        <p>Mesaj</p>
                        <textarea rows="4" id="MesajAbuzCumparator" name="MesajAbuzCumparator" style="width: 100%"></textarea>


                        <div class="g-recaptcha" data-sitekey="6LdoSQwTAAAAACfODVa04naEdZkoKVojZ4lMM0ag"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdoSQwTAAAAACfODVa04naEdZkoKVojZ4lMM0ag&amp;co=aHR0cDovL2xvY2FsaG9zdDo0OTI2NQ..&amp;hl=ro&amp;v=dPctOHA2ifhWm5WzFM_B5TjT&amp;size=normal&amp;cb=lqmot0vc46v" width="304" height="78" role="presentation" name="a-464tgy3argg0" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                        <br>
                        <img id="loadingGifAbuz" src="/Images/preloader.gif" style="height: 35px; vertical-align: bottom; padding-bottom: 5px; display: none" alt="Va rugam asteptati">
                        <p id="loadingMessageAbuz" style="display: none">Va rugam asteptati</p>
                        <input class="btn btn-success" type="submit" id="TrimiteMesajButtonAbuz" value="Trimite Mesaj">
                        <div id="resultMesajAbuz" style="color: blue"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Închide</button>
            </div>
        </div>
    </div>
</div>




