@{
    ViewBag.Title = "Politica de utilizare Cookie-uri";
    ViewBag.MetaDescription = "Politica de utilizare a Cookie-urilor pe siteul http://www.apartamente24.ro";
    Layout = "_LayoutB5";
}

<div class="container">

    <p>Aceasta se referă la cookie-urile din website-ul http://www.apartamente24.ro denumit in continuare apartamente24.</p>
    <h3>2. Ce sunt Cookie-urile?</h3>
    <p>Cookie-urile sunt fișiere text de mici dimensiuni, stocate pe echipamentele terminale ale unui utilizator de Internet. Cookie-ul este instalat prin solicitarea emisă printr-un web-server către un browser (ex: Internet Explorer, Chrome) și nu conține programe software, viruși sau spyware, neavând acces la informațiile de pe hard drive-ul utilizatorului. Aceste fişiere permit recunoaşterea echipamentului utilizatorului şi afişarea în mod corespunzător a paginii de Internet, adaptată preferinţelor individuale ale utilizatorului</p>
    <h3>3. Rolul fișierelor de tip Cookie</h3>
    <p>Fișierele de tip Cookies permit recunoaşterea echipamentului utilizatorului şi afişarea în mod corespunzător a paginii de Internet, adaptată preferinţelor individuale ale utilizatorului.</p>
    <p>
        Cookie-urile au rolul de a vă asigura o experiență de navigare web plăcută și sigură și de a vă oferi servicii complete, în funcție de comportamentul online manifestat pe websiteul http://www.apartamente24.ro . Concret, pe baza cookie-urilor apartamente24 are posibilitatea de a:
    </p>
    <p>
        a. Adapta prezentarea și afișarea site - ului în funcție de preferințele dvs. (limbă, rezoluție etc)<br />b. Crea statistici anonime, care nu presupun identificarea personal, bazate pe comportamentul dvs. pe site și de interesul manifestat pentru produsele prezentate. Aceste statistici ne permit să î
        mbunătățim structura și conținutul site-ului, astfel încât să vă oferim informațiile de care aveți nevoie.<br />c. Asigura măsuri de securitate web.
    </p>
    <h3>4. Tipuri de cookie-uri folosite pe siteul http://www.apartamente24.ro</h3>
    <p>
        Siteul http://www.apartamente24.ro folosește două tipuri de fișiere Cookie: per sesiune și fixe. Cookie-urile per sesiune sunt fișiere temporare care se instalează în terminalul dvs. în timpul vizitei pe website-ul nostru și până la închiderea sesiunii sau a browser-ului folosit. Cookie-urile fixe rămân în terminalul utilizat de dvs. pentru o perioadă de timp mai mare, în funcție de parametrii acestora sau până când sunt șterse manual de dvs.&nbsp;
        <h3>5. Cum sunt folosite cookie-urile pe http://www.apartamente24.ro?</h3>
    <p>
        Vizita dvs. pe http://www.apartamente24.ro poate instala fișiere de tip cookie pentru ca noi să putem analiza:<br />a. performanța site-ului<br />b. înregistrarea dvs. (log in, newsletter etc)c. profilul dvs. de utilizator<br />d. locația dvs., în scop de targetare geografică<br />Dar și pentru a vă putea livra conținut publicitar personalizat. <br />&nbsp;
        <h3>6. Cookie - urile înregistrează sau / și conțin date personale?</h3>
    <p>Cookie-urile nu solicită informații cu caracter personal nu identifică personal utilizatorii de internet. Datele personale colectate prin utilizarea Cookie-urilor pot fi folosite doar pentru facilitarea anumitor funcționalități pentru dvs. Aceste date sunt criptate astfel încât persoanele neautorizate nu pot avea acces la ele.</p>
    <h3>7. Ștergerea Cookie-urilor</h3>
    <p>Aplicațiile folosite pentru accesarea paginilor web (browser, de exemplu) salvează Cookie-urile pe terminalul utilizatorilor de Internet în mod implicit. Totuși, setările pot fi schimbate de dvs . astfel încât instalarea automată a Cookie-urilor să fie blocată de browser-ul web. Informații detaliate despre modurile de administrare a Cookie-urilor sunt disponibile în câmpul de setări al browser-ului web. Vă informăm că limitarea folosirii Cookie-urilor poate afecta anumite funcționalități ale modului în care sunt afișate paginile website-ului http://www.apartamente24.ro.<br />&nbsp;</p>
    <h3>8. De ce sunt Cookie-urile importante pentru Internet?</h3>
    <p>Cookie-urile sunt importante pentru funcționarea eficientă a Internetului, în interesul utilizatorului, deoarece contribuie la crearea unei experiențe de navigare web simplă și personalizată în funcție de interesele, preferințele și comportamentul fiecărui utilizator.</p>
    <p>
        Blocarea sau dezactivarea Cookie-urilor poate face unele site-uri imposibil de folosit sau pot limita semnificativ experiența dvs. pe web. Blocarea sau dezactivarea fișierelor Cookie nu î
        nseamnă că nu vă vor mai fi livrate mesaje publicitare, ci că paginile web pe care vă aflați nu vă vor mai oferi o experiență adaptată tipului dvs. de comportament și preferințelor
    </p>
    <p>Fișierele de tip Cookie sunt importante pentru:</p>
    <p>a. Conținut și servicii adaptate preferințelor dvs. - categorii de produse și servicii.<br />b. Oferte adaptate intereselor dvs. - reținerea parolelor - în cazul în care optați pentru această funcționalitate.<br />c. Reținerea filtrelor de protecție a copiilor privind conținutul web (opțiuni family mode, funcții de safe search).<br />d. Limitarea frecvenței de livrare a mesajelor publicitare - limitarea numărului de afișări a unei reclame pentru un anumit utilizator pe un site.<br />e. Furnizarea de publicitate relevantă în funcție de utilizator.<br />f. Măsurarea, optimizarea și înregistrarea de date legate de performanța siteului - statistici legate de trafic, conținut vizualizat. Aceste informații sunt importante pentru îmbunătățirea experienței web a utilizatorilor.</p>
    <h3>9. Securitate web și aspect legate de confidențialitatea utilizatorilor</h3>
    <p>Cookie-urile NU sunt viruși și nu colectează date cu caracter personal.</p>
    <p>Totuși, Cookie-urile pot fi utilizate în detrimentul utilizatorilor, de programele de tip Spyware. Deoarece stochează informații despre preferințele și istoricul de navigare al utilizatorilor, Cookie-urile pot fi folosite ca o formă de Spyware. Aplicațiile anti-spyware au rolul de a marca cookie-urile pentru a fi șterse în cadrul procedurilor de scanare anti-virus/anti-spyware.</p>
    <p>Browserele au integrate setări de confidențialitate care oferă diferite nivele de acceptare a Cookie-urilor - precum perioada de valabilitate și stergere automată la încheierea unei sesiuni web.</p>
    <h3>10. Alte aspecte de securitate legate de Cookie-uri:</h3>
    <p>Deoarece toți utilizatorii de Internet au dreptul la protecția identității online, este indicat să fiți informat în legătură cu posibilele riscuri de securitate . Având în vedere că prin intermediul acestor fișiere se face schimb de informații constant între browser și site-ul pe care îl vizitați, informațiile transmise prin Cookie-uri pot fi interceptate de persoane sau programme neautorizate. De exemplu, acest lucru este posibil în situația în care browserul se conectează la server folosind o rețea necriptata/nesecurizată - cum e cazul anumitor rețele Wi-Fi.</p>
    <p>Alte atacuri bazate pe cookie-uri pot fi posibile din cauza unor setări greșite ale acestor fișiere pe servere. Daca un website nu solicită browserului să folosească doar canale criptate, atacatorii pot folosi această vulnerabilitate pentru a primi acces la informațiile transmise prin Cookie-uri. Din aceste motive este esențial să acordați o atenție sporită setărilor prin care vă protejați informațiile personale disponibile online.<br />&nbsp;</p>
    <h3>11. Sfaturi pentru o navigare web sigură, bazată pe Cookies.</h3>
    <p>Datorită flexibilității lor și faptului că majoritatea dintre cele mai vizitate site-uri folosesc Cookie-uri, acestea sunt aproape inevitabile. Dezactivarea Cookie-urilor nu vă va permite accesul pe site-uri precum Youtube, Gmail, Yahoo etc.</p>
    <p>De aceea, vă oferim câteva sfaturi care să vă asigure o navigare web sigură, prin intermediul Cookie-urilor.</p>
    <p>a. Personalizați setarile browserului în ceea ce privește Cookie-urile.</p>
    <p>b. Daca sunteți unicul utilizator al terminalului, puteți seta termene de expirare a Cookie-urilor prelungite.</p>
    <p>c. În cazul în care nu sunteți unicul utilizator al terminalului, luați în considerare ștergerea datelor individuale de navigare de fiecare dată când închideți browserul. <br />d. Instalați aplicații antispyware și faceți-le constant update.</p>
    <p>e. Asigurați-vă că browser-ul folosit este mereu updatat, deoarece multe dintre atacurile bazate pe Cookies sunt posibile din cauza punctelor slabe ale versiunilor vechi ale browserelor.</p>
    <p><br />Toate browserele vă oferă posibilitatea de a vă seta personalizat modul de acțiune a Cookie-urilor..</p>
    <p>Pentru a ințelege aceste setări, accesați unul din linkurile de mai jos, în funcție de browser-ul folosit:</p>
    <p><a href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies">Cookie settings in Firefox</a></p>
    <p><a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647">Cookie settings in Chrome</a></p>
</div>