
@{
    ViewBag.Title = "Termeni si conditii";
    ViewBag.MetaDescription = "Termeni si conditii pentru site-ul de anunturi imobiliare apartamente24.ro";
    Layout = "~/Views/Shared/_LayoutBootstrap5.cshtml";
}

<div class="container">

    <h3>Utilizatorii site-ului http://www.apartamente24.ro sunt de acord să respecte următorul regulament.</h3>

    <p>-Nu folositi tag-uri HTML in campurile anunturilor sau referiri spre site-uri terte</p>
    <p>-Nu folositi caractere speciale in campurile anunturilor</p>
    <p>-Nu sunt admise anunturi cu continut ilegal</p>
    <p>-Nu folositi limbaj trivial, cuvinte obscene sau orice expresii care ar putea deranja vizitatorii site-urilor</p>
    <p>-Nu adaugati mai multe anunturi consecutive avand acelasi continut sau inteles</p>
    <p>-Se interzice folosirea datelor din paginile acestui site pentru trimiterea de mesaje nesolicitate (SPAM)</p>
    <p>-Se interzice folosirea datelor din paginile acestui site pentru reproducerea pe alte siteuri, fara acordul apartamente24.ro</p>

    <p>Toate anunturile care nu respectă regulile de mai sus vor fi sterse fară nici un avertisment prealabil. Pentru orice nelamuriri, intrebări sau sugestii, vă rugăm să ne contactati folosind pagina de contact.</p>

    <h3>Absolvirea de raspundere:</h3>
    <p>Declarati in mod expres ca intelegeti si ca sunteti de acord cu urmatoarele afirmatii: a) utilizarea serviciilor paginii web se face pe propria raspundere. Serviciile sunt furnizate pe principiul "asa cum sunt" sau "asa cum sunt disponibile". b) Apartamente24.ro nu ofera nici o garantie ca: (i) serviciile vor implini toate cerintele dumneavoastra; (ii) serviciile vor fi neintrerupte, la timp, sigure sau fara erori; (iii) rezultatele ce se vor putea obtine din folosirea paginii web si a serviciilor puse la dispozitie vor fi corecte sau de incredere; (iv) calitatea oricaror produse, servicii, informatii sau alte materiale cumparate sau obtinute de dumneavoastra prin intermediul paginii web va satisface toate cerintele; (v) orice eroare de program va fi corectata </p>

    <h3>Inregistrare</h3>
    <p>Pentru inregistrarea pe site-ul Apartamente 24 Romania, este necesar sa completati formularul de inregistrare. Este obligatoriu ca informatiile oferite sa fie corecte si complete. Dupa inscriere, veti primi un e-mail de confirmare, care va contine modalitatea de activare a contului. In cazul in care logarea se face cu Facebook sau Google, utilizatorul se poate autentifica direct cu aceste conturi.</p>
    <p>Apartamente24.ro isi rezerva dreptul de a va suspenda sau refuza calitatea de membru al site-ului apartamente24.ro in cazul in care descopera ca ati oferit informatii eronate, false sau tendentioase in timpul inregistrarii ca membru. Este interzis sa folositi un nume de utilizator indecent sau inadecvat. Apartamente24.ro are dreptul sa va refuze toate incercarile curente sau viitoare de folosire a site-ului, fara notificari prealabile. </p>

    <h3>Politica de confidentialitate</h3>
    <p>Orice informatie oferita de dumneavoastra va beneficia de confidentialitate totala, cu exceptia cazurilor in care divulgarea informatiilor este necesara pentru a respecta legea si procedurile judiciare. Nu vom divulga catre terte parti informatii referitoare la vizitele facute pe site-ul nostru sau orice informatii personale precum numele, adresa, numarul de telefon, adresa de e-mail etc. </p>
    <p>Apartamente24.ro isi rezerva dreptul de a trimite prin email notificari ocazionale despre noutatile oferite clientilor care folosesc acest serviciu, dar si informatii despre anunturile noi adaugate, cat si starea anunturilor proprii ale utilizatorilor. </p>

    <h3>Obligatiile utilizatorului:</h3>
    <p>Utilizatorii serviciului sunt in exclusivitate responsabili pentru continutul mesajelor proprii si suporta consecintele acestora. Apartamente24.ro nu controleaza, ci doar monitorizeaza continutul transmis prin intermediul serviciilor din cadrul paginii web si, astfel, nu garanteaza acuratetea, integritatea si calitatea acestui continut. </p>
    <p>Anunturile aparute pe site-ul apartamente24.ro sunt proprietatea acestui site. Preluarea si republicarea anunturilor - atat online cat si in alta forma - se poate face numai cu acordul scris al apartamente24.ro. </p>
    <p>Apartamente24.ro isi rezerva dreptul de a refuza calitatea de membru, din initiativa sa exclusiva, utilizatorilor care incalca regulile mentionate mai jos. Utilizatorii serviciilor oferite de apartamente24.ro sunt de acord:</p>

    <p>-Utilizatorul se obliga: nu va modifica, copia, transmite, publica, reproduce, crea produse derivate, transfera sau vinde orice fel de informatie sau servicii obtinute de pe sau prin intermediul acestui site web</p>
    <p>-nu va desfasura (si nu va permite) activitatea de cracking sau hacking. Utilizatorii care violeaza securitatea sistemelor pot fi actionati in instanta, civil si penal.</p>
    <p>-nu va posta in mod rauvoitor (intentionat) anunturi cu caracter calomnios sau injurios, de farsa, pentru a cauza neplaceri, sau a aduce atingere imaginii altor clienti/utilizatori ai acestor servicii. Utilizatorii care nu respecta aceste conditii pot fi urmariti si actionati in instanta, civil si penal, pe baza IP-urilor si/sau datelor de identificare introduse la postarea anunturilor.</p>
    <p>-este de acord sa exonereze de raspundere si sa nu actioneze apartamente24.ro in justitie, cu privire la orice pretentie ridicata de catre un tert, rezultata din utilizarea serviciilor apartamente24.ro de catre client, cat si cu privire la orice pierdere (directa, indirecta, pe cale de consecinta sau de alta natura), costuri, actiuni, procese, pretentii, stricaciuni, cheltuieli (inclusiv cheltuieli de judecata) sau alte raspunderi, suferite in vreun fel, sau provocate direct, ca urmare a incalcarii sau ignorarii de catre client a acestor termeni si conditii.</p>
    <p>-este de acord sa nu se inregistreze sub mai multe nume de utilizator in cadrul paginii web </p>
    <p>-este de acord sa nu colecteze sau depoziteze date personale despre ceilalti membri utilizatori ai serviciilor paginii web</p>

    <h3>Modificari si incetari ale serviciului</h3>
    <p>apartamente24.ro poate modifica acesti termeni si conditii la anumite intervale de timp fara a anunta utilizatorii personal. Astfel de modificari vor fi aduse la cunostinta utilizatorilor prin afisare pe site-ul web la sectiunea "Termeni si conditii" de utilizare. Modificarile facute astfel sunt socotite a fi acceptate de catre utilizator daca acesta continua sa foloseasca serviciul dupa afisarea lor pe site.</p>

    <hr/>

    <p>Utilizatorul accepta sa adere la acest regulament.</p>

    <p>Utilizatorul confirma ca a citit si acceptat acesti termeni si conditii. Utilizarea serviciilor de catre client implica acceptarea neconditionata a acestor termeni si conditii.</p>

    <p>In cazul in care nu sunteti de acord cu acesti termeni si conditii, va rugam sa nu folositi acest site.</p>

</div>

